# Created by .ignore support plugin (hsz.mobi)
/.idea/libraries/Maven__com_google_guava_guava_16_0_1.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_hystrix_dashboard_2_0_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_netflix_hystrix_dashboard_2_0_0_RELEASE.xml
/.idea/libraries/Maven__org_webjars_d3js_3_4_11.xml
/.idea/libraries/Maven__org_webjars_jquery_2_1_1.xml
/.idea/jarRepositories.xml
kafka-demo/src/main/resources/static/
kafka-demo/src/main/resources/templates/
.gitignore
.mvn/
mvnw
mvnw.cmd
pom.xml
.idea

#!/.idea/
